html {
    font-size: 62.5%;
    /* Reset para REMS - 62.5% = 10px de 16px */
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}


/*Globales*/

h1,
h2,
h3 {
    font-family: 'Pacifico', cursive;
}

.top {
    align-items: center;
    text-align: center;
    color: #813531;
    font-size: 2rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}


/* Buscador */

.buscador img {
    background-color: #d6d6d6;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin: 0;
    cursor: default;
    margin-right: 0;
}

.boton-buscar {
    border-style: none;
    cursor: none;
    background-color: transparent;
}

.buscador {
    align-items: center;
    text-align: center;
    cursor: not-allowed;
    margin-right: 0;
    display: block;
}

.buscar {
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    border-style: none;
    background-color: #d6d6d6;
    box-sizing: inherit;
    align-items: center;
}


/* BUSCADOR RESPONSIVE*/
/* Diseño para celulares */
.buscador img {
    height: 4rem;
    padding: 1rem;
    vertical-align: -1.3rem;
}
.buscador {
    margin-top: 5rem;
}
.buscar {
    height: 4rem;
    width: 20rem;
    padding: 1rem;
    font-size: 2rem;
}

/* Diseño estandar */ 
@media screen and (min-width: 593px) {
	.buscador img {
        height: 5rem;
        padding: 1rem;
        vertical-align: -1.75rem;
    }
    .buscador {
        margin-top: 5rem;
    }
    .buscar {
        height: 5rem;
        width: 50rem;
        padding: 1rem;
        font-size: 2rem;
    }
}

.contenedor {
    max-width: 120rem;
    /* = 1200px; */
    margin: 0 auto;
    display: block;
    justify-content: center;
}

.contenedor h1 {
    color: #813531;
    font-size: 6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


/* Header */

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20rem;
    margin: 2rem;
    margin-left: 0;
}


/* Navegacion */

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    /* = 18px; */
    margin-right: 2rem;
}

.navegacion a:hover {
    color: #ffb80e;
}

.navegacion a:last-of-type {
    margin: 0;
}

#nav {
    background-color: #813531;
}


/* Tarjetas */
.tarjetas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta-img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 25rem;
}
.tarjeta-info{
    background-color: #813531;
    color: white;
    font-size: 1.5rem;
    width: 25rem;
    padding: 1rem;
    margin-bottom: 3rem;
}
.tarjetas{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */

.bgcolor {
    background-color: #813531;
    margin: 0;
    padding: 2rem;
    margin-top: 5rem;
    color: #ffffff;
    justify-content: center;
}

footer h2 {
    font-size: 4rem;
}

footer img {
    width: 10rem;
    margin: 0;
}

footer li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}
