html {
    font-size: 62.5%;
    /* Reset para REMS - 62.5% = 10px de 16px */
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}


/*Globales*/

.row {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Pacifico', cursive;
}

.cond-cont {
    line-height: 1.3;
}

.top {
    align-items: center;
    text-align: center;
    color: #813531;
    font-size: 2rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.tit-busc{
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
}


/* Buscador */

.buscador img {
    background-color: #d6d6d6;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin: 0;
    cursor: default;
    margin-right: 0;
}

.boton-buscar{
    border-style: none;
    border: 1px solid #fff;
    /* border-inline: 2px solid #fff; */
    background-color: transparent;
    border-radius: 0 5px 5px 0;
}

.boton-buscar:hover > img:hover{
    cursor: pointer;
    filter: invert(20%) sepia(100%) saturate(4000%);
    /* border-color: #ffb80e; */
}



.boton-buscar:focus{
    cursor: default;
    outline: none;
}

.buscador {
    align-items: center;
    text-align: center;
    cursor: not-allowed;
    margin-right: 0;
    margin-bottom: 5rem;
    cursor: default;
    display: block;
}

.buscador-sugerencia{
    display: block;
    z-index: 2;
    color: white;
    margin: 10px 10px;
    justify-self: start;
    font-size: 16px;
    cursor: default;
    
}

.link-sugerencia{
    font-size: 16px;
    margin: 0 10px;
    color: white;
    transition: all 0.3s;
    background: transparent;
    outline: none;
    border: none;
}

.link-sugerencia:hover{
    color: #ffb80e;
    text-decoration: none;
    border: none;
    outline: none;
}

.link-sugerencia:focus{
    outline: none;
}

.palabras-buscar{
    font-size: 16px;
    margin: 0 10px;
    color: white;
    transition: all 0.3s;
    background: transparent;
    outline: none;
    border: none;
}
.eliminar {
    position: absolute;
   opacity: 0.4;
   transition: all 0.4s;
}
.eliminar:hover {
opacity: 1;
}
.eliminar:before, .eliminar:after {
    position: absolute;
    left: 5px; 
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #fff;
}
.eliminar:before {
    transform: rotate(45deg);
}
.eliminar:after {
    transform: rotate(-45deg);
}
  

/* Carrusel */


.contendor-slider{
    display: flex;
    background:rgba(0, 0, 0, 0.2);
    /* min-height: 100vh; */
    /* margin-top: 10px; */
}

.contenedor-slider_buscardor-receta{
    z-index: 2;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:rgba(0, 0, 0, 0.6);
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel{
    width: 100%;
}

.carousel-inner{
    z-index: 1;
}

.carousel-control-next , .carousel-control-prev{
    z-index: 2;
}

.buscar {
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    border-style: none;
    background-color: white;
    box-sizing: inherit;
    align-items: center;
}

.buscar:focus{
    border: none;
    outline: none;
}


/* BUSCADOR RESPONSIVE*/


/* Diseño para celulares */

.buscador img {
    height: 4rem;
    padding: 1rem;
    vertical-align: -1.3rem;
}

.buscador {
    margin-top: 5rem;
}

.buscar {
    height: 4rem;
    width: 20rem;
    padding: 1rem;
    font-size: 2rem;
}


/* Diseño estandar */

@media screen and (min-width: 593px) {
    .buscador img {
        height: 5rem;
        padding: 1rem;
        vertical-align: -1.75rem;
    }
    .buscador {
        margin-top: 5rem;
    }
    .buscar {
        height: 5rem;
        width: 50rem;
        padding: 1rem;
        font-size: 2rem;
    }
}

.contenedor {
    max-width: 120rem;
    /* = 1200px; */
    margin: 0 auto;
    display: block;
    justify-content: center;
}

.contenedor h1 {
    color: #813531;
    font-size: 6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


/* Header */

.bt-color {
    background-color: white;
    height: 5rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 20rem;
    margin: 2rem 0;
}


/* Navegacion */

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    /* = 18px; */
}

.navegacion a:hover {
    color: #ffb80e;
}

.navegacion li {
    margin-right: 2rem;
}

.navegacion li:last-of-type {
    margin: 0;
}

#nav {
    background-color: #813531;
}

/* #nav-recetas {
    background-color: #ffb80e;
} */

#nav-recetas a:hover {
    color: #813531;
}


.linea-filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -25px !important;
}
.linea-filtros div{
    text-align: center;
}

.linea-filtros div > label{
    text-align: center;
    color:white;
    text-transform: capitalize;
}

.recetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recetas-resultados{
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-around !important;
    margin-top: 20px;
}

.filtro label{
    font-family: 13px;
    color: white;
}


.lbl-form-receta{
    font-family: 13px;
}
/* 
#pais{
    width: 150px !important;
} */
/* 
.ingredientes{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    align-items: flex-start;
} */

.ingredientes-agregados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
    background-color: white;
    border-radius: 4px;
    border:1px solid #ccc;
    /* margin: 10px; */
}

/* form control */

/* .form-control{
    height:30px !important; 

} */

/* Tarjetas */

.contenedor-recetas {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.tarjetas {
    width: 100%;
    margin: 4px;
    flex: 0 0 calc(33.3% - 1rem);
}

.tam-img {
    width: 25rem;
    height: 16rem;
    object-fit: cover;
}

.tarjeta-img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.tarjeta-info {
    background-color: #813531;
    color: white;
    font-size: 1.5rem;
    width: 25rem;
    padding: 1rem;
    margin-bottom: 3rem;
}

.tarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Footer */

.bgcolor {
    background-color: #813531;
    margin: 0;
    padding: 0.6rem;
    color: #ffffff;
    justify-content: center;
}

footer h2 {
    font-size: 1.5rem;
}

footer h4 {
    font-size: 0.8rem;
}

footer img {
    width: 3rem;
    margin: 0;
}

footer li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h2,
h4 {
    color: #ffffff;
}

.footer-centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 593px) {
    .bgcolor {
        padding: 1rem;
    }
    footer h2 {
        font-size: 1.7rem;
    }
    footer h4 {
        font-size: 1rem;
    }
    footer img {
        width: 6rem;
    }
}

.contac a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}


/* Estandar */

@media screen and (min-width: 958px) {
    .bgcolor {
        padding: 2rem;
    }
    footer h2 {
        font-size: 4rem;
    }
    footer h4 {
        font-size: 2rem;
    }
    footer img {
        width: 10rem;
        margin: 0;
    }
}

.copy {
    color: white;
}


/* Recetas individuales vista */

.ingredientes {
    margin-top: 4rem;
}

.ingredientes li {
    list-style: none;
    margin: 0 0 2rem 0;
}

.icon {
    width: 12%;
    margin-right: 1rem;
}

.ingredientes h1 {
    font-size: 4rem;
}

.iconos {
    margin-top: 2rem;
}

.tit-receta h1 {
    margin-bottom: 4rem;
    font-size: 6rem;
}

@media screen and (max-width: 768px) {
    .tit-receta h1 {
        font-size: 4rem;
    }
}

.titulo {
    color: #813531;
    font-weight: 400;
    font-size: 3.4rem;
    margin-top: 0.8rem;
}

.Persona {
    color: #777777;
    font-weight: 400;
    font-size: 3.4rem;
    margin-top: 0.8rem;
    margin-left: 1rem;
}

.receta-img {
    margin-bottom: 2rem;
}


/* Login */

.bgimg {
    background: url(../../img/bg-login6.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.formulario {
    background-color: #ffffff;
    margin-top: 100px;
    padding: 6%;
    margin-bottom: 100px;
    border-radius: 20px;
}

.formulario h1 {
    margin-bottom: 55px;
    margin-top: 1px;
}


/*.formulario a {
    color: #ffb80e;
}*/

@media (max-width: 530px) {
    .formulario h1 {
        font-size: 45px;
        margin-bottom: 35px;
    }
}


/* Perfil */

.bgimg-perfil {
    background: url(../../img/bg-perfil.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.perfilcss {
    background-color: #ffffff;
    padding: 4rem;
    margin-top: 5rem;
    border-radius: 20px;
}

.perfil-img img {
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .perfil-img img {
        width: 50%;
        margin-bottom: 2rem;
    }
}

@media (max-width: 470px) {
    .perfilcss {
        padding: 2rem;
    }
}

.perfil-img {
    text-align: center;
}

.tag{
    height: 50px;
    background-color: #777777;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 4px;
    color: white;
}

.filtros{
    z-index: 2;
    align-self: center;
    display: flex;
    background:rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px 60px;
    /* min-height: 100vh; */
}

.filtros h1 {
    color:white;
}
.contenedor-ingredientes > label{
    color:white;

}

.contenedor-ingredientes {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;

}

.caja-ingredientes{
    padding: 0px 40px;
    transition: all 0.3s;
}

.ocultar{
    top:-1000px;
    position: absolute;
    opacity: 0;
}

@media (max-width: 1024px) {
    .linea-filtros {
        display: flex;
        background-color: white !important;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 2;
        width: 100%;
        padding: 0px;
        margin: 0px !important;

    }
    .sldier{
        background-color:white;
    }

    .filtros{
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 20px;
        height: 100%;
    }

    .filtros > h1{
        width: 100%;
        height: 50px;
        background: white;
    }

    
        .filtros h1 {
            color:#813531;
        }

    .nav-recetas{
        padding: 0px;
    }

    .linea-filtros div > label{
        color:black;
    }
    .caja-blanca{
        background-color: white !important;
        z-index: 5 !important;
        /* min-height: 100vh; */
        height: 100%;
        /* position: absolute; */
        /* overflow: hidden; */
    }

    .caja-blanca >.carousel-inner, .carousel-control-next, .carousel-control-prev{
        display: none;
    }
    
    .recetas{
        z-index: 1;
    }

    .btn-filtro{
        margin-bottom: 10px;
    }

    .caja-ingredientes{
        padding: 0px;
        width: 100%;
        background-color: white;
    }

    .caja-ingredientes > div > label {
        color:black;
    }
}
